[run]
source = /Users/arukavina/github/baking-lyrics/baking/main
omit=[/Users/arukavina/github/baking-lyrics/baking/resources/*.py,
      /Users/arukavina/github/baking-lyrics/baking/static/*.py,
      /Users/arukavina/github/baking-lyrics/baking/main/migrations/*.py
      ]